<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="au theme template">
  <meta name="author" content="Hau Nguyen">
  <meta name="keywords" content="au theme template">

  <!-- Title Page-->
  <title>Dashboard 2</title>

  <!-- Fontfaces CSS-->
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/font-face.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/font-awesome.min.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/fontawesome-all.min.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/material-design-iconic-font.min.css" rel="stylesheet" media="all">

  <!-- Bootstrap CSS-->
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/bootstrap.min.css" rel="stylesheet" media="all">

  <!-- Vendor CSS-->
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/animsition.min.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/animate.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/hamburgers.min.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/slick.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/select2.min.css" rel="stylesheet" media="all">
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/perfect-scrollbar.css" rel="stylesheet" media="all">

  <!-- Main CSS-->
  <link href=" https://res.cloudinary.com/chota5511/MyCV/stylesheets/admin/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
  <div class="page-wrapper">
    <div class="page-content--bge5">
      <div class="container">
        <div class="login-wrap">
          <div class="login-content">
            <div class="login-logo">
              <a href="#">
                <img src="https://res.cloudinary.com/chota5511/MyCV/images/logo-admin.png" alt="CoolAdmin">
              </a>
              </div>
              <div class="login-form">
                <form action="/admin/login/submit" method="post">
                  <div class="form-group">
                    <%= token_tag %>
                    <label>User ID</label>
                    <input class="au-input au-input--full" required="" type="text" name="id" placeholder="User ID">
                  </div>
                  <div class="form-group">
                    <label>Password</label>
                    <input class="au-input au-input--full" required="" type="password" name="password" placeholder="Password">
                  </div>
                  <div class="login-checkbox">
                    <label>
                      <input type="checkbox" name="remember">Remember Me
                    </label>
                    <label>
                      <a href="#">Forgotten Password?</a>
                    </label>
                  </div>
                  <% if session[:LoginStatus] != nil then %>
                  <div class="alert alert-danger" role="alert">
                    <%= session[:LoginStatus] %>
                  </div>
                  <% end %>
                  <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Jquery JS-->
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap JS-->
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/popper.min.js"></script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/bootstrap.min.js"></script>
  <!-- Vendor JS       -->
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/slick.min.js">
  </script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/wow.min.js"></script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/animsition.min.js"></script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/bootstrap-progressbar.min.js">
  </script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/jquery.waypoints.min.js"></script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/jquery.counterup.min.js">
  </script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/circle-progress.min.js"></script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/perfect-scrollbar.js"></script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/Chart.bundle.min.js"></script>
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/select2.min.js">
  </script>

  <!-- Main JS-->
  <script src="https://res.cloudinary.com/chota5511/MyCV/javascripts/admin/main.js"></script>

</body>

</html>
<!-- end document-->
