<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <p>Dear <%= @name %></p>
      I have received your message. Thanks for contacted me.
    </p>
  </body>
</html>
