<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>A new newsletter signed up
      <br/>
      Email: <%= @email %>
    </h2>
  </body>
</html>
