<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <p>Dear <%= @email %></p>
      <p>
        I have recorded your email. Thank you for your sign up.
        If you interested in my work please click:
        ***link***
        My website:
        ***link***
        Want to hire me ?
        Please leave your information here
        ****link****
      </p>

      Quan Ly Nguyen
      Programer
    </p>
  </body>
</html>
