<!-- start banner Area -->
<section class="banner-area" id="home">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-6 col-md-12 no-padding banner-right">
        <img class="img-fluid" src="https://res.cloudinary.com/chota5511/MyCV/images/header-img.png" alt="">
      </div>
      <div class="col-lg-6 col-md-12 banner-left">
        <h1 class="text-white">
          Hi, I’m <br>
          <span><%= name %></span> <br>
          <%= specialist %>
        </h1>
        <p class="mx-auto text-white  mt-20 mb-40">
          <%= quote %>
          <p class="mx-auto text-white  mt-20 mb-40" style="line-height: 0.1" align="right">~ ~ <%= quoteowner %> ~ ~</p>
        </p>
        <a href="#" class="text-uppercase header-btn">Let Us Talk</span></a>
      </div>
    </div>
  </div>
</section>
<!-- End banner Area -->
