<!-- start contact Area -->
<section class="contact-area section-gap" id="contact">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-20 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">If you need, Just drop me a line</h1>
          <p><%= intro %></p>
        </div>
      </div>
    </div>
    <form class="form-area mt-60" id="contact" action="home/SubmitContact" method="post" class="contact-form text-right">
      <%= token_tag %>
      <div class="row">
      <div class="col-lg-6 form-group">
        <input name="name" id="name" placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" class="common-input mb-20 form-control" type="text">

        <input name="email" id="email" required placeholder="Enter email address" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" class="common-input mb-20 form-control" type="email">

        <input name="subject" id="subject" required placeholder="Enter your subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your subject'" class="common-input mb-20 form-control" type="text">
      </div>
      <div class="col-lg-6 form-group">
        <textarea class="common-textarea mt-10 form-control" name="message" id="message" required placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" ></textarea>
        <button class="primary-btn mt-20">Send Message<span class="lnr lnr-arrow-right"></span></button>
        <div class="alert-msg">
      </div>
      </div></div>
    </form>
  </div>
</section>
<!-- end contact Area -->
