<!-- Start qualification Area -->
<section class="qualification-area pt-100 pb-80">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-20 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">My Qualifications</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-lg-6 col-md-6 qty-left">
        <div class="single-qly">
          <h3 class="text-uppercase">Spondonit</h3>
          <p>July 2015 to Present</p>
          <h4 class="pt-20 pb-20">Creative Content Developer</h4>
          <p>
            All users on MySpace will know that there are millions of <br>people out there. Every day besides.
          </p>
        </div>
        <div class="btm-border d-block mx-auto"></div>
        <div class="single-qly">
          <h3 class="text-uppercase">Codepixar</h3>
          <p>May 2013 to Present</p>
          <h4 class="pt-20 pb-20">UI/UX Designer</h4>
          <p>
            All users on MySpace will know that there are millions of <br>people out there. Every day besides.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 qty-right">
        <div class="single-qly">
          <h4 class="pb-20">Masters in Graphics & Fine Arts</h4>
          <p><b>Session</b>: 2010-11</p>
          <p><b>Result</b>:  3.78 (In the Scale of 4.00)</p>
        </div>
        <div class="btm-border d-block mx-auto"></div>
        <div class="single-qly">
          <h4 class="pb-20">Bachelor in Graphics & UI/UX</h4>
          <p><b>Session</b>: 2006-09</p>
          <p><b>Result</b>:  3.40 (In the Scale of 4.00)</p>
        </div>
        <div class="btm-border d-block mx-auto"></div>
        <div class="single-qly">
          <h4 class="pb-20">Diploma in Fine Arts & Printing</h4>
          <p><b>Session</b>: 2003-06</p>
          <p><b>Result</b>:  4.94 (In the Scale of 5.00)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End qualification Area -->
