<!-- Start service Area -->
<section class="service-area section-gap" id="service">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-70 col-lg-8">
        <div class="title text-center">
          <h1 class="mb-10">Have a Look at my Services</h1>
          <p>Who are in extremely love with eco friendly system.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="single-service col-lg-6 col-md-6 mb-30">
        <div class="icon">
          <img src="/assets/s1.png" alt="">
        </div>
        <div class="dec">
          <h4 class="mt-30"><a href="#">Web Design</a></h4>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          </p>
        </div>
      </div>
      <div class="single-service col-lg-6 col-md-6 mb-30">
        <div class="icon">
          <img src="/assets/s2.png" alt="">
        </div>
        <div class="dec">
          <h4 class="mt-30"><a href="#">Mobile Design</a></h4>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          </p>
        </div>
      </div>
      <div class="single-service col-lg-6 col-md-6">
        <div class="icon">
          <img src="/assets/s3.png" alt="">
        </div>
        <div class="dec">
          <h4 class="mt-30"><a href="#">Print Design</a></h4>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          </p>
        </div>
      </div>
      <div class="single-service col-lg-6 col-md-6">
        <div class="icon">
          <img src="/assets/s4.png" alt="">
        </div>
        <div class="dec">
          <h4 class="mt-30"><a href="#">Interaction Design</a></h4>
          <p class="mt-20">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End service Area -->
