<meta http-equiv="refresh" content="5; home" />
<div style="height:50vh; margin-top: 56px; text-align: center; vertical-align: middle; font-size:20px">
    <img src="https://res.cloudinary.com/chota5511/image/upload/v1535884794/MyCV/images/sucess.png" style="height:200px"/>
    <p>
      <br/>
      Thanks for send me a message, Mr/Mrs. <%= @name %>
      <br/>
      I will reply your message as soon as posible.
    </p>
</div>
