<meta http-equiv="refresh" content="5; home" />
<div style="height:50vh; margin-top: 56px; text-align: center; vertical-align: middle; font-size:20px">
    <img src="/assets/failed.png" style="height:200px"/>
    <p>
      <br/>
      Your message wasn't send due some problems.
      <br/>
      Sorry for this inconvenient, Mr/Mrs. <%= @name %>. I will fix this problem as soon as possible.
    </p>
</div>
