<meta http-equiv="refresh" content="5; Home" />
<div style="height:50vh; margin-top: 56px; text-align: center; vertical-align: middle; font-size:20px">
    <img src="/assets/sucess.png" style="height:200px"/>
    <p>
      <br/>
      Thanks for send me a message, Mr/Mrs. <%= @name %>
      <br/>
      I will reply your message as soon as posible.
    </p>
</div>
