<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <p>Dear <%= @email %></p>
      <p>
        <%= @message %>
      </p>

      Quan Ly Nguyen
      Programer
    </p>
  </body>
</html>
